venv/
__pycache__/
media/face_recognition/
media/monitoring_frames/
media/face_verification/
monitoring/__pycache__
Users/__pycache__
classroom/__pycache__
AI_EXAM_PORTAL/__pycache__
AI_EXAM_PORTAL/__pycache__/settings.cpython-312.pyc
classroom/__pycache__/views.cpython-312.pyc
monitoring/__pycache__/models.cpython-312.pyc
.vscode/settings.json
AI_EXAM_PORTAL/__pycache__/__init__.cpython-312.pyc
AI_EXAM_PORTAL/__pycache__/urls.cpython-312.pyc
AI_EXAM_PORTAL/__pycache__/settings.cpython-312.pyc
AI_EXAM_PORTAL/__pycache__/__init__.cpython-312.pyc
classroom/__pycache__/__init__.cpython-312.pyc
classroom/__pycache__/admin.cpython-312.pyc
classroom/__pycache__/models.cpython-312.pyc
classroom/__pycache__/apps.cpython-312.pyc
classroom/__pycache__/urls.cpython-312.pyc
classroom/__pycache__/views.cpython-312.pyc
monitoring/__pycache__/__init__.cpython-312.pyc
monitoring/__pycache__/admin.cpython-312.pyc
monitoring/__pycache__/apps.cpython-312.pyc
monitoring/__pycache__/models.cpython-312.pyc
results/__pycache__/__init__.cpython-312.pyc
results/__pycache__/admin.cpython-312.pyc
results/__pycache__/apps.cpython-312.pyc
results/__pycache__/models.cpython-312.pyc
Users/__pycache__/__init__.cpython-312.pyc
Users/__pycache__/admin.cpython-312.pyc
Users/__pycache__/apps.cpython-312.pyc
Users/__pycache__/forms.cpython-312.pyc
Users/__pycache__/models.cpython-312.pyc
Users/__pycache__/views.cpython-312.pyc
Users/__pycache__/urls.cpython-312.pyc
Users/templatetags/__pycache__/form_tags.cpython-312.pyc
