{% extends 'Users/layout.html' %}

{% block title %}
    Student Dashboard
{% endblock %}


{% block content %}
    <div id="student-dashboard" class="auth-container">
        <h2 id="student-dashboard-title" class="text-center mb-4">Student Dashboard</h2>
        <div id="student-info" class="student-info">
            <div>
                <h2 id="student-welcome">Welcome, {{ student_name }}</h2>
                <p id="student-uid">UID: {{ uuid }}</p>
                <p id="student-classes">Enrolled Classes:</p>
                <ul id="classes-list">
                    {% for classroom in classrooms %}
                        <li id="class{{ forloop.counter }}">{{ classroom.class_name }} ({{ classroom.class_code }})</li>
                    {% empty %}
                        <li>No enrolled classes found.</li>
                    {% endfor %}
                </ul>
                <a href='{% url "classroom:join_class" %}' id="join-class" class="btnc">Join Class</a>
            </div>
        </div>

        <div id="exam-schedule" class="box">
            <h3 id="exam-schedule-title" class="section-title">Exam Schedule</h3>
            <div id="calendar-view" class="calendar-view">
                <table>
                    <tr>
                        <th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th>
                    </tr>
                    <tr>
                        {% for exam in upcoming_exams %}
                            <td>{{ exam.exam_name }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        
        <div id="feedback" class="box">
            <h3 id="feedback-title" class="section-title">Feedback</h3>
            <form method="post" action="{% url 'Users:submit_feedback' %}">
                {% csrf_token %}
                <textarea id="feedback-textarea" class="feedback-textarea" name="feedback" placeholder="Provide your feedback here..."></textarea>
                <button type="submit" id="submit-feedback" class="feedback-btn">Submit Feedback</button>
            </form>
        </div>
        
        <div id="help-support" class="help">
            <h3 id="help-support-title" class="section-title">Help & Support</h3>
            <p id="faqs">FAQs for common queries</p>
            <button id="contact-support" class="help-btn">Contact Support</button>
        </div>
    </div>
{% endblock %}
